.filter-summary {
    background: $white;
    border-bottom: 1px solid $darkGrey;
    font-size: 14px;
    line-height: 1.86;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
